body {
    background: url(https://media.discordapp.net/attachments/1049418350373118063/1052670223238574080/MIT_Pixel_BG.png) no-repeat center right fixed;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#main {
    background-color: #23272a;
    margin: auto;
    width: 80%;
    max-width: 900px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
    overflow-wrap: break-word;
}

a {
    color: #7289da;
}

ul form {
    background-color: #2c2f33;
    border-radius: 15px;
    padding: 20px;
    padding-left: 30px;
}

#usr_name {
    text-align: center;
}

.button {
    text-align: center;
    background: #9d2235;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
}

.singlebutton {
    margin-left: 0px;
}

#buttons {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-wrap: break-word;
    color: white;
}

#btn_yes {
    background: #2e6930;
}

.button:hover {
    box-shadow: 0 0 5px;
}

.error {
    color: orange;
}